* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.container {
  padding: 1rem 1.5rem;
  max-width: 567px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.11);
  margin-top: 1rem;
}

.btn {
  padding: 10px 0;
  background: #dedede;
  color: #000;
  border-radius: 5px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.7;
}

.btn:focus {
  outline: none;
}
